<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link href="favicon.png" type="image/x-icon" rel="shortcut icon">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.7.4/tachyons.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/styles/main.css" rel="stylesheet">
  <link rel="manifest" href="/manifest.json">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
  {% include meta/meta.html %}
</head>