body {
  background-color: #fff;
  color: #787878;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}